.container {
  padding: 8px;
}

.container input {
  height: 24px;
  font-size: 14px;
  width: 100%;

  margin-bottom: 8px;
}

.container button {
  background-color: rgb(77, 72, 219);
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-bottom: 8px;
}

#getQueryButton,
#copyAnswer {
  background-color: rgb(78, 175, 78);
}

textarea {
  width: 500px;
  height: 300px;
  margin-bottom: 8px;
}
#queryReply {
  margin-bottom: 8px;
}
#queryReplyContainer {
  height: fit-content;
  margin-bottom: 8px;
  padding: 8px;
  background-color: rgb(213, 211, 211, 0.5);
  color: black;
  display: none;
}

#copyAnswer {
  margin-bottom: 0px;
}
